.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.lista-suspensa select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.1);
    width: 100%;
    border: none;
    font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    padding: 24px;
    box-sizing: border-box;
} 